body{
  height: 900px;
  width: auto;
  margin: 0;
}
  
/*makes the nav bar pos*/
.navbar {
  overflow: hidden;
  background-color: white;
  margin-bottom: 0px;
}

.navbar-phone{
  display: none;
}

.navbar .block{
  display: flex;
}

.navbar a :hover, .block:hover .block-info:hover  { 
  background: red;
}

.navbar .block .block-info a{
  float: left; 
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

  
  
.background{
  background: url("https://images.ctfassets.net/pdf29us7flmy/2ZtlOujWNf4ztl5wbRnTpC/4a394c414c6a2e3f68749802e5e4d042/GettyImages-689291632_optimized.jpg?w=720&q=100&fm=jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin: 0%;
}



.title-storage{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  justify-content: center;
  box-shadow: 15px darkblue;
}

.title-item{
  border-radius: 30px;
  font-size: 50px;
  font-weight: bolder;
  list-style: none;
  text-align: center;
  box-shadow: 15px darkblue;
  background-color: lightblue;
  color: black;
  padding: 30px;
  width:30%;
}

.space{
  height: 150px ;
}


.info-storage{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  justify-content: center;
  box-shadow: 15px darkblue;
}


.info-item{
border-radius: 100px;
font-size: 30px;
font-weight: bolder;
list-style: none;
text-align: left;
box-shadow: 15px darkblue;
background-color: peachpuff ;
color: black;
padding: 50px;
width:80%;
}

.credentials{
  text-align: center;
  justify-content: center;
}






.footer_container{                          /*Background of footer*/
  background-color: black;
  padding-bottom: 5px;
}
.footer_txt{                               /*Contains all configs on text in footer*/
  width: 80%;
  height: 400px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.footer_head{
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 300px;
}

.footer_head h2{
  margin-bottom: 20px;
  font-size: 30px;
}

.footer_head a{
  background-color: black;
  color: white;
  text-decoration: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer_head a:hover{
  background-color: black;
  color: blueviolet;
}