body{
    height: 750px;
    width: auto;
    margin: 0;
}
  
/*makes the nav bar pos*/
  .navbar {
    overflow: hidden;
    background-color: white;
    margin-bottom: 10px;
}
  .navbar a {                  /*Left*/
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  
}

  
  .drop {                   /*Dropdown position*/
    float: left;
    overflow: hidden;
}
  
  .drop .droppos {          /*Dropdown size(Same as navbar)*/
    font-size: 30px;  
    border: none;
    font-weight: bold;
    color: black;
    padding: 16px 18px;
    background-color: white;
    margin: 0;
}
  
  .navbar a:hover, .drop:hover .droppos {          /*Navbar hover colour for Left and Right*/
    background-color: red;
}

  
  .drop-content {                                 /*Boxes inside the dropdown config.*/
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 1px;
}
.drop-content a {                           
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.drop-content a:hover {                       /*Dropdown box colour*/
    background-color: lightgrey;
}
  
.drop:hover .drop-content {                     /*Displays stuff on screen*/
    display: block;
}




.background{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
  }

  .title{
    width:100%;
    font-size: 65px;
    font-variant: normal;
    font-weight: bolder;
    text-align: center;
    /*margin: 100px;*/
    color: black;
  }

.title-storage{
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    justify-content: center;
    box-shadow: 15px darkblue;
}


.title-item{
  border-radius: 50px;
  font-size: 50px;
  font-weight: bolder;
  list-style: none;
  text-align: center;
  box-shadow: 15px darkblue;
  background-color: lightblue;
  color: black;
  padding: 30px;
  width:30%;
}


.title-section{
  color: black;
  font-size: 28px;
  padding-top: 30px;
}

.space{
  height: 100px ;
}


.vid-pos{
  display: flex;
  width: 100%;
  justify-content: center;
}

.info-storage{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  justify-content: center;
  box-shadow: 15px darkblue;
}


.info-item{
border-radius: 200px;
font-size: 30px;
font-weight: bolder;
list-style: none;
text-align: left;
box-shadow: 15px darkblue;
background-color: yellow  ;
color: black;
padding: 50px;
width:80%;
}

.start-pos{
border-radius: 200px;
font-size: 50px;
font-weight: bolder;
list-style: none;
text-align: center;
box-shadow: 15px darkblue;
background-color: yellow  ;
color: black;
padding: 50px;
width:90%;
}

.info-pos{
font-size: 40px;
font-weight: bolder;
list-style: none;
color: black;
margin-top: 60px;
}

  .footer_container{                          /*Background of footer*/
    background-color: black;
    padding-bottom: 5px;
  }
  .footer_txt{                               /*Contains all configs on text in footer*/
    width: 80%;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  
  .footer_head{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 300px;
  }
  
  .footer_head h2{
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .footer_head a{
    background-color: black;
    color: white;
    text-decoration: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer_head a:hover{
    background-color: black;
    color: blueviolet;
  }
  